<section class="user-section">
  <h2><%= "Name: #{@user.name}" %></h2>
  <div>
    <% if (!@user.pending_friends.include?(current_user)) && (!current_user.pending_friends.include?(@user) && !(current_user.friend? @user))%>
      <%= button_to "Invite to friendship", friendships_path(invited_user_id: @user.id), class: 'w-auto mx-2' %>
    <% elsif (@user.pending_friends.include?(current_user)) %>
      <%= button_to "Accept friendship", friendship_path(@user.id), :method => :patch, class: 'w-auto mx-2' %>
      <%= button_to "Reject friendship", friendship_path(@user.id), :method => :delete, class: 'w-auto mx-2' %>
    <% end %>
  </div>
  <article class="timeline">
    <h3>Recent posts:</h3>
    <ul class="posts">
      <%= render @posts %>
    </ul>
  </article>
</section>
